.font{ 
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.font-navbarbrand{
  font-weight: bold;
  margin: 0;

}

.navbarbrand{
  height: 60px;
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
}

.Navbar{
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.vertical-line {
  position: absolute;
  height: 55%;
  width: 3px;
  background-color: #D9D9D9;
  left: 35%;
  transform: translateX(-50%);
}
.ball{
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: black;
  border-radius: 180px;
  left: 34%;
}
.present{
  position: absolute;
  left: 35%;
}
/* .navButton:hover{
  transition: 0.8s;
 background-color: black;
 color: white
}
.navButton{
  background-color: #D9D9D9;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px;
} */

.active{
  color: black;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
}

.shadowTechStack{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px;
}

.Circleone{
  transition: 0.5s;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0;
}

.Circleone:hover{
  /* background-color: black;
  width: 55px;
  height: 50px;
  border-radius: 50%; */
  transform: scale(1.2);
  transition: 0.5s;
}

.Circle:hover{
  /* background-color: white;
  width: 55px;
  height: 50px;
  border-radius: 50%; */
  transform: scale(1.2);
  transition: 0.5s;
}

.Circle{
  transition: 1s;
  background-color:  "rgba(187,240,241,1)";
  border-radius: 50%;
  width: 55px;
  height: 50px;
}

.Square:hover{
  /* background-color: black;
  width: 55px;
  height: 50px;
  border-radius: 12px; */
  transform: scale(1.2);
  transition: 0.5s;
}

.Square{
  transition: 0.5s;
  background-color: "rgba(187,240,241,1)";
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 450px){
  .Square{
    opacity: 0;
  }

  .Circle{
   opacity: 0;
  }

  .Circleone{
    opacity: 0;
  }

  .Square-xs{
    border-radius: 12px;
    width: 45px;
    height: 40px;
  }

  .Circle-xs{
    border-radius: 50%;
    width: 45px;
    height: 40px;
  }

  .Circleone-xs{
    border-radius: 50%;
    width: 45px;
    height: 40px;
  }
}


/*  banner
 */

.header{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbarItem:hover{
  transition: 0.8s ;
  color: black;
}

.navbarItem{
  color: rgba(0, 0, 0, 0.25);
}

.headerIcon{
  width: 100%;
  height: calc(0.576 * 50vw);
}


@media screen and (max-width: 900px) {
  .headerIcon{
  height: calc(0.576 * 100vw);
  }
}

@media screen and (max-width: 700px) {
  .imageDetail{
  width: 340px;
  height: 300px;
  }
}



.space{
  margin-top: 50px;
  width: 100vw;
  overflow: hidden;
  background-color: #cdcdcd;
}

.space h4, h1, p, span{
  text-align: center;
}

.space span{
 margin-top: 50px;
}

.space p{
  margin-left: 10px;
  margin-right: 10px;
}

.space h1{
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 20px
}

/* project */

.project-bg{
  transition: 0.4s ease-in-out;
  width: 100%;
  background: white;
  
 
  opacity: 0;
}

.project-bg h3{
  color: black;
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.project-bg p{
  margin-bottom: 50px;
  font-weight: normal;
}

.project-img{
  position: relative;
  width: 350px;
  height: 250px;
}

.project-img img{
  transition: 0.4s ease-in-out;
 width: 350px;
 height: 250px;
 border-radius: 12px;
 box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}



.project-img::before{
 content: "";
 background-color: black;
 border-radius: 12px;
 opacity: 0.90;
 position: absolute;
 width: 350px;
 height: 0;
 z-index: 900;
 transition: 0.4s ease-in-out;
} 

.project-img:hover::before{
  height: 250px;
}

.project-img img:hover{
  transition: 0.5s ease-in-out;
  opacity: 0.5;
}

.project-text h4{
  color: white;
  font-size: 30px;
  margin-top: 75px;
}

.project-text p{
  color: white;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
}

.project-text{
  position: absolute;
  top: 0%;
 
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.4s ease-in-out;
  z-index: 999;
}

@media screen and (min-width: 960px) and (max-width: 1150px) {
  .project-img{
    width: 280px;
  }

  .project-img img{
   width: 280px;
  }

  .project-img::before{
    width: 280px;
   } 
}


@media screen and (min-width: 900px) and (max-width: 960px) {
  .project-img{
    width: 270px;
  }

  .project-img img{
   width: 268px;
  }

  .project-img::before{
    width: 268px;
   } 

}

.project-img:hover > .project-text{
  opacity: 1;
}

.skill{
  width: 100%;
  opacity: 1;
}

.skill h3{
  color: black;
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.skillButton {
  background-color: #D9D9D9;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px;
}

.skillButton:hover{
  transition: 0.8s;
  background-color: black;
  color: white;
}

.skillButtonActive{
  background-color: black;
  color: white;
}

.scrolled{
  transition: 1s;
  opacity: 1;
  
}

/* skills */

.skill-m{
  margin-bottom: 50px;
}

.skill-hind{
  opacity: 0;
}

.lang-font{
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-top: 0;
}


.skill-item{
  width: 30vw;
  height: 30px;
  border-radius: 60px;
  border: 5px solid white;
}

@media screen and (max-width: 900px) {
  .skill-item{
    width: 50vw;
  }
}

.inner-skill-item{
  content: "";
  background-color: black;
  border-radius: 60px;
  width: 0px;
  height: 30px;
  transition: 1s ease-in-out;
}

.skill-img{
  width: 50px;
  height: 30px;
}

.font-skill{
  position: absolute;
  color: white;
  font-weight: 700;
 
}

.font-cent{
  text-align: center;
}

.skill-ban{
  width: 500px;
  height: 400px;
}

.projectpage{
  width: 100vw;
  height: 100vh;
  background-color: #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .projectpage h1{
  display: flex;
  justify-content: center;
  align-items: center;
} */